@import "./styles/reset";
@import "./styles/fonts";
@import "./styles/colors";

html,
body,
#root {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

body {
    font-family: Baloo2-Regular, Arial, Helvetica, sans-serif;
    color: $off-white;
    background-color: $off-black;
}